#osu-cursor{
	position: fixed;
	pointer-events: none;
	z-index: 2147483647;
	/*transition: transform .2s ease;*/
}
#osu-cursor > .cursor-inner {
	position: relative;
	/*transition: transform 0.15s cubic-bezier(1, 2.31, 0.49, -0.18);*/
    will-change: transform;
    transform-origin: left top;
}
#osu-cursor > .cursor-inner > img{
	width: 30px;
	top: 0;
	left: 0;
	position: absolute;
}
#osu-cursor > .cursor-inner > img.cursor-additive{
	opacity: 0;
	/*transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);*/
}

#osu-cursor.active > .cursor-inner > img.cursor-additive{
	/*opacity: 1;*/
}

#osu-cursor.active > .cursor-inner {
    /*transform: scale(0.85);
	transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);*/
}